.more1{
    position: absolute;
     left: 0%;
    top: 800px;
    right: 70%; 
   width: 100%;
   height: 100%;
   display: flex;
  
   justify-content: center;
   align-items: center;
   text-align: center;
   opacity: 0; 
   background: rgba(0, 0, 0, 0.3); 
  pointer-events: none;
}
.more1.active1 .pop-up1{
   transition: 0.4s ease-in;
   transform: scale(1);
   transition-delay: 0.25s;
}
.more1 .pop-up1{
   width: 600px;
   background-color: #f2f2f2;
   border-radius: 2px;
   padding: 40px;
   transform: scale(0);
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.pop-up1 h3{
   margin-top: 10px;
   color: var(--bluef);
   line-height: 67px;
   font-size: 60px;
}
.pop-up1 p{
   font-size: 30px;
   margin: 12px 0px 20px;
}
.active1{
opacity: 1;
pointer-events: auto;

}
.more2{
   position: absolute; 
   left: 0%;
    top: 800px;
    right: 70%;
  width: 100%;
  height: 100%;
  display: flex;
 
  justify-content: center;
  align-items: center;
  text-align: center;
  opacity: 0; 
  background: rgba(0, 0, 0, 0.3); 
 pointer-events: none;
}
.more2.active2 .pop-up2{
  transition: 0.4s ease-in;
  transform: scale(1);
  transition-delay: 0.25s;
}
.more2 .pop-up2{
  width: 600px;
  background-color: #f2f2f2;
  border-radius: 2px;
  padding: 40px;
  transform: scale(0);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.pop-up2 h3{
  margin-top: 10px;
  color: var(--bluef);
  line-height: 67px;
  font-size: 60px;
}
.pop-up2 p{
  font-size: 30px;
  margin: 12px 0px 20px;
}
.active2{
opacity: 1;
pointer-events: auto;

}
/*------------------------------------------------------------------------  */
@media(max-width:800px){
 .more3 .pop-up3{
position: relative;
left: 80%;
right: 10%;
top: 525%;
width: 100vw;
height: 100vh;
}
.more1 .pop-up1{
  position: relative;
  left: 80%;
  right: 10%;
  top: 215%;
  width: 100vw;
  height: 100vh;
}
.more2 .pop-up2{
  position: relative;
  left: 80%;
  right: 10%;
  top: 385%;
  width: 100vw;
  height: 140vh;
  
}
.more .pop-upbox{
  position: relative;
  left: 80%;
  right: 10%;
  top: 110%;
  width: 100vw;
  height: 100vh;
}
.more .pop-upbox h3{
 line-height: 80px;
}

.more1 .pop-up1{
  position: relative;
  left: 70%;
  right: 10%;
  top: 250%;
  height: 120vh;

}
}

/* -------------------------------------------------------------------- */
.more3{
   position: absolute; 
   left: 0%;
    top: 800px;
    right: 70%;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  opacity: 0; 
  background: rgba(0, 0, 0, 0.3); 
 pointer-events: none;
}
.more3.active3 .pop-up3{
  transition: 0.4s ease-in;
  transform: scale(1);
  transition-delay: 0.25s;
}
.more3 .pop-up3{
  width: 600px;
  background-color: #f2f2f2;
  border-radius: 2px;
  padding: 40px;
  transform: scale(0);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.pop-up3 h3{
  margin-top: 10px;
  color: var(--bluef);
  line-height: 67px;
  font-size: 60px;
}
.pop-up3 p{
  font-size: 30px;
  margin: 12px 0px 20px;
}
.active3{
opacity: 1;
pointer-events: auto;

}